$header-height: 50px;
$footer-height: 100px;
$primary-color: #9acd32;
$font-main-color: #333;
$border-color: #e6e6e6;
$s: 14px;
$m: 16px;
$l: 20px;

$width-small: 320px;
$width-medium: 375px;
$width-large: 414px;

$height-small: 667px;
$height-medium: 736px;
$height-large: 812px;
